<div class=" content">
  <div class=" row">
    <div class=" col-md-8">
      <div class=" card">
        <div class=" card-header">
          <h5 class=" title">Que timebox devo comprar?</h5>
        </div>
        <div class=" card-body">
          <form submit="">
            <div class=" row">
              <div class=" col-md-8">
                <div class=" form-group">
                  <label> Orçamento R$ </label>
                  <input type="text" type="number" class=" form-control"/>
                </div>
              </div>
            </div> 
            <div class=" row">
              <div class=" col-md-8">
                <div class=" form-group">
                  <label> Duração do Anúncio (Em segundos)</label>
                  <input type="text" type="number" class=" form-control"/>
                </div>
              </div>
            </div> 
            <div class=" row">
              <div class=" col-md-8">
                <div class="form-group">
                  <label> Público Alvo </label>
                  <select class="form-control">
                    <option value="">-</option>
                    <option value="masculino" style="color: black; background-color: dimgray;">Masculino</option>
                    <option value="feminino" style="color: black; background-color: dimgray;">Feminino</option>
                  </select>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-8">
                <div class="form-group">
                  <label> Data de Exibição </label>
                  <input type="date" id="start" name="trip-start" value="2023-03-13" min="2023-03-13" max="2023-03-19" class="form-control"/>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-8">
                <div class=" form-group">
                  <label> Palavras chave </label>
                  <textarea class="form-control" cols="80" placeholder="Adicione palavras chave relacionadas ao seu produto/tema/serviço" rows="4"
                    value=""></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class=" card-footer">
          <button class=" btn btn-fill btn-danger" type="submit">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>